body {
    background: #990000;
}

b, strong {
    font-weight: 900;
}

q, blockquote {
    quotes: none;
    padding: 20% 0% 5% 5%;
    background-color: darkslategray;
    color: white;
    font-size: larger;
}
